.characters-table-titles {
  color: white;
  text-align: left;
  background-color: rgba(120, 120, 120, 1);
}
.characters-table-content-name {
  width: 12%;
  background-color: rgb(49, 87, 46);
}
.characters-table-content-species {
  width: 2%;
  background-color: rgb(49, 87, 46);
}
.characters-table-content-house {
  width: 2%;
  background-color: rgb(49, 87, 46);
}
.characters-table-content-blood {
  width: 10%;
  background-color: rgb(49, 87, 46);
}
.characters-table-content-role {
  width: 20%;
  font-size: 14px;
  background-color: rgb(49, 87, 46);
}
.characters-table {
  width: 100%;
}