.section-home {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgb(100, 9, 9);
}

.section-characters {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgb(32, 76, 28);
}

.section-spells {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgb(14, 51, 100);
}

.section-info {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgb(240, 165, 0);
}