header{
    background-color: #BBBBBB;
}

nav{
    background-color: rgb(243, 174, 185);
}

aside{
    background-color:rgb(118, 38, 194);
}

footer{
    background-color: rgb(160, 238, 44);
}

html{
    font-family: monospace;
    font-size: 14px;
}
