header{
    background-color: #BBBBBB;
    text-align: center;
}

nav{
    background-color: rgb(243, 174, 185);
}

aside{
    background-color:rgb(118, 38, 194);
}

footer{
    background-color: rgb(160, 238, 44);
    text-align: center;
}

html{
    font-family: monospace;
    font-size: 14px;
}

.header{
    font-size: 46px;
} 
.footer{ 
    font-size:10px;
}
.content{
    font-size:14px;
}
.navigation{
    font-size:12px;
}
.sidebar{
    font-size:10px;
}