.header-button-container {
  font-weight: bold;
  font-size: 20px;
  top: 15%;
  right: 5%;
  width: 230px;
  height: 120px;
  position: relative;
  float: right;
  background-color: inherit;
}

.header-mobile-container {
  display: inline;
}

.header-button-container-mobile {
  position: relative;
  display: none;
}
.home-button-mobile {
  position: relative;
  display: inline;
  left: 0px;
  background-color: rgb(100, 9, 9);
  margin-right: 10px;
  border-radius: 5px;
}
.home-button-mobile:hover {
  background-color: rgb(110, 19, 19);
}
.chars-button-mobile {
  position: relative;
  display: inline;
  background-color: rgb(32, 76, 28);
  margin-right: 10px;
  border-radius: 5px;
}
.chars-button-mobile:hover {
  background-color: rgb(42, 86, 38);
}
.spells-button-mobile {
  position: relative;
  display: inline;
  background-color: rgb(14, 51, 100);
  margin-right: 10px;
  border-radius: 5px;
}
.spells-button-mobile:hover {
  background-color: rgb(34, 71, 120);
}
.info-button-mobile {
  position: relative;
  display: inline;
  background-color: rgb(240, 165, 0);
  border-radius: 5px;
}
.info-button-mobile:hover {
  background-color: rgb(260, 185, 20);
}

@media screen and (max-width: 700px){
  .header-button-container {
    display: none;
  }
  .header-textcontent {
    width: 500px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .header-mobile-container {
    display: inline;
    top: 40px;
    position: relative;
  }
  .header-button-container-mobile {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    display: block;
  }
}

.home-button {
  width: 50%;
  height: 50%;
  background-color: rgb(100, 9, 9);
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
}

.home-button-textcontent {
  position: absolute;
  float: left;
  left: 50%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.home-button:hover {
  background-color: rgb(110, 19, 19);
}

.chars-button {
  width: 50%;
  height: 50%;
  background-color: rgb(32, 76, 28);
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 10px;
}

.chars-button-textcontent {
  position: absolute;
  float: left;
  left: 50%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.chars-button:hover {
  background-color: rgb(42, 86, 38);
}

.spells-button {
  width: 50%;
  height: 50%;
  background-color: rgb(14, 51, 100);
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 10px;
}

.spells-button:hover {
  background-color: rgb(34, 71, 120);
}

.spells-button-textcontent {
  position: absolute;
  float: left;
  left: 50%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}

.info-button {
  width: 50%;
  height: 50%;
  background-color: rgb(240, 165, 0);
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-bottom-right-radius: 10px;
}

.info-button:hover {
  background-color: rgb(260, 185, 20);
}

.info-button-textcontent {
  position: absolute;
  float: left;
  left: 50%;
  margin-top: 10%;
  transform: translate(-50%, -50%);
}