@font-face {
  font-family: 'HarryPotter';
  src: url(../FONTS/HarryPotter.TTF)
}

.home-sections {
  position: relative;
  font-family: 'HarryPotter';
  font-size: 30px;
  font-weight: 200 !important;
  height: 1100px;
}

.home-header {
  font-family: 'HarryPotter';
  font-size: 30px;
}

.home-buttoncontainer {
  font-size: 35px !important;
  font-weight: lighter !important;
}

.shield {
  position: relative;
  top: 85px;
}
.home-info {
  position: relative;
  margin-top: 200px;
}

.home-gryffindor-section {
  width: 25%;
  height: 100%;
  left: 0%;
  position: absolute;
  background-color: rgb(100, 9, 9);
}

.home-slytherin-section {
  width: 25%;
  height: 100%;
  left: 25%;
  position: absolute;
  background-color: rgb(32, 76, 28);
}

.home-ravenclaw-section {
  width: 25%;
  height: 100%;
  right: 25%;
  position: absolute;
  background-color: rgb(14, 51, 100);
}

.home-hufflepuff-section {
  width: 25%;
  height: 100%;
  right: 0%;
  position: absolute;
  background-color: rgb(240, 165, 0);
}
