@font-face {
  font-family: 'HarryPotter';
  src: url(../FONTS/HarryPotter.TTF)
}

.spells-footer {
  position: fixed !important;
  bottom: 0px;
}
.spells-header {
  font-family: 'HarryPotter';
  font-size: 30px;
}
.spells-buttoncontainer {
  font-size: 35px !important;
  font-weight: lighter !important;
}
.spells-section {
  height: 3665px;
}
.spells-table-titles {
  color: white;
  text-align: left;
  background-color: rgba(120, 120, 120, 1);
}
.spells-table-content-name {
  width: 20%;
  background-color: rgb(34, 71, 120);
}
.spells-table-content-type {
  width: 20%;
  background-color: rgb(34, 71, 120);
}
.spells-table-content-effect {
  width: 50%;
  background-color: rgb(34, 71, 120);
}

.spells-table {
  position: absolute;
  left: 25%;
  width: 50%;
}